*{
  margin: 0px;
  font-family: Arial;
  border: border-box;
  

}
.navbar{
  height: 60px;
  background-color: #f4f4f9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  
  
}

.border{
  border: 1.5px solid transparent;
}
.border:hover{
  border: 1.5px solid white;
}